li a{
    float: left;
    display: block;
    color:white;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}
ul{
    background-color:rgb(22, 22, 22);
    list-style-type: none;
    overflow: hidden;
}
li a:hover{
    background-color:darkslategray;
}
#text1{
    margin:40px;
    background:white;
    border: 2px solid black;
    width:max-content;
    padding:0.5%;
}
#text2{
    margin:40px;
    border: 2px solid black;
    background: white;
    width: 100px;
    padding-left: 1.2em;
}
#text3{
    margin:40px;
    border: 2px solid black;
    background: white;
    width: 130px;
    padding-left: 1.2em;
}
#text4{
    margin:40px;
    border: 2px solid black;
    background: white;
    width: 180px;
    padding-left: 1.5em;
}
#text5{
    margin:40px;
    border: 2px solid black;
    background: white;
    width: 140px;
    padding-left: 1.5em;
}
#text6{
    margin:40px;
    border: 2px solid black;
    background: white;
    width: 155px;
    padding-left: 1.5em;
}
#text7{
    margin:40px;
    border: 2px solid black;
    background: white;
    width: 140px;
    padding-right: 1.4em;
}
#paddingPolicies{
    padding-top: 20px;
    font-size: 120%;
    text-decoration: underline;
    text-shadow: 1px 1px rgb(97, 97, 97);
}
.inputContactUsMessage{
    height: 150px;
    width: 120%;
}